doctype html
html(lang="es")
head
  meta(charset="UTF-8")
  title Tema
  link(rel="icon", href="favicon.png")
  link(rel="stylesheet", href="css/app.css")
body
  header.Header
    h1.Header__tittle FrontendDev
  main.Content
    h2 El desarrollo ahora se mueve hacia la web
    p.
      Hoy en día, la mentalidad centrada en la web no es solo la norma cuando se trata de aplicaciones. El proceso de desarrollo en sí está llegando a confiar más en la web. Por ejemplo, Ken Walker, el líder del proyecto Eclipse Orion, explicó cómo la solución en la que su equipo está trabajando hace de la web el punto de inicio y el punto punto final para el desarrollo a través de la implementación. El objetivo general con Eclipse es proporcionar una plataforma sobre la que hacer desarrollo de software que se ejecute por completo dentro de un navegador.
      No se detiene allí. Hacer cambios a la plataforma en sí se hará usando las habilidades de desarrollo de front-end. Según Walker: "Lo que estamos tratando de hacer es proporcionar una extensibilidad en el lado del cliente para esta plataforma de herramientas. Así, para Orion, usted puede escribir extensiones para el navegador IDE solo usando JS, CSS y HTML y hospedar esos plugins en la mismo sitio en el que hospeda Orion. O, si usted no está hospedando Orion en su propio sitio,  puede escribir plugins para Orion que se sienten en su sitio web y los incorporaremos en el IDE que está en ejecución“.
    h2 El conocimiento profundo del front-end es una necesidad
    p.
      Las empresas que desean mantenerse al día con el ritmo de los cambios en el mundo del desarrollo deben prestar mucha atención para garantizar que sus equipos puedan adoptar los lenguajes para hacen funcionar a las aplicaciones actuales. Todavía hay mucha resistencia a JavaScript entre los desarrolladores que están acostumbrados a lenguajes construidos más cuidadosamente. Como ex desarrollador empresarial de Java, el consultor de JS, Mark Bates, dijo que entiende la animosidad. "Tienen razón; JavaScript tiene algunos defectos de diseño terribles. JavaScript es uno de esos lenguajes que usted desea que nunca hubiera sido inventado porque le habría gustado ver algo mejor en su lugar. Pero tenemos esta lengua franca de desarrollo en estos días, y es JavaScript. Es un lenguaje que todos tienen que conocer y que no va a desaparecer pronto".
      St. Laurent tenía una opinión diferente sobre el tema. Él siente que la situación de desarrollo de front-end resultó mucho mejor de lo que podría haber sido. En la década de 1990, todo el mundo estaba haciendo algo diferente en el front-end. No había estandarización, y la falta de acuerdos sobre la forma de integrar sistemas complejos creaba barreras permanentes. El modelo utilizado en la actualidad es mucho más flexible de lo que nadie soñaba en ese entonces. "La combinación de HTML, CSS y JS no se ve como un lenguaje de programación, pero usted no se queda atrapado en ella como en otros entornos. Usted puede seguir construyendo y conectando cosas nuevas a él”.
      Él mencionó que los desarrolladores a veces hacen las cosas más complicadas de lo que tienen que ser. Por ejemplo, utilizarán un marco como Angular para un scripting sencillo que realmente no necesita ese nivel de herramientas. O bien, dejarán pasar el hecho de que simplemente declarar que algo va a suceder en CSS puede ser la solución más sencilla con el mejor rendimiento. "La animación CSS es capaz de hacer muchas cosas con el dispositivo con mejor capacidad de acelerarlo que si escribe todo en JavaScript”.
      En resumen, se supone que tanto las tendencias de desarrollo web y de front-end deben hacer las cosas más fáciles, no más difíciles. Como los viejos hábitos y las mentalidades cambian, los equipos de desarrollo aprenderán a aprovechar al máximo estas oportunidades.
  footer.Footer
